.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

.main-screen {
    height: 90vh;
}

.brand {
    height: 30vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
    width: 60%;
    margin-left: 20%;
    font-size: 145px;
    text-align: center;
}

.header {
    background-color: #EDFF00;
}

.header a {
    color: #4f494b;
}

.header a:link {
    color: #4f494b;
    text-decoration: none;
}

.header a:visited {
    color: #4f494b;
    text-decoration: none;
}

.header a:hover {
    color: #EDFF00;
    text-decoration: none;
}

.header a:active {
    color: #4f494b;
    text-decoration: none;
}

.header-link {
    width: 60px;
    padding: 2.43%;
    color: #4f494b;
}

.header-link:hover {
    background-color: #4f494b;
    color: #FFF200;
}

.header-active {
    width: 60px;
    padding: 2.43%;
    background-color: #4f494b;
    color: #FFF200 !important;
}

.header-button {
    font-size: 17px;
    line-height: 21px;
    text-align: center;
}